/*
	Color Palette
	http://www.colourlovers.com/palette/148712/Gamebookers

	Orange -> #FF9900
	Ash -> #424242
	Light grey -> #E9E9E9
	Grey -> #BCBCBC
	Ocean blue -> #3299BB
*/

/*Embedding Non-Standard Fonts*/
@font-face {
	font-family: 'GeosansLight';
	src: url(../fonts/GeosansLight.woff) format('woff');
}

/*Styling for HTML elements*/
html, body {
	height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
	left: 0px;
	top: 100%;
}

input {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font-family: 'GeosansLight';
	font-size: 90%;
	color: #000000;
}

/*
	THE MAP
	----------------------------------------
*/
#container {
	height: 100%;
	width: 100%;
}
#map-canvas {
	height: 100%;
  padding: 0px;
	z-index: 0;
}

/*
	SEARCH BAR
	----------------------------------------
*/

#add-destinations {
	display: none;
}

/*
	Media Query
	----------------------------------------
*/

/* Respond to small device */
@media screen and (max-width: 850px) {
	input {
		font-size: 70%;
	}
	#filter-accordion {
		font-size: 70%;
	}
	label {
		font-size: 70%;
	}
	select {
		width: 55px;
		font-size: 5%;
	}
	#search-panel {
		width: 134px;
	}
	#party-list li {
		font-size: 70%;
	}
	#results-window.expandResults {
		width: 40%;
	}
}

@media screen and (max-width: 600px) {
	div {
		display: inline-block;
	}

  div#results-window {
  	left: 0px;
  	bottom: 0px;
  	position: absolute;
    height: 10%;
    width: 100%;
    max-width: 100%;
    float: none;
    display: inline-block;
  }

  div#search-panel {
    width: 100%;
    max-width: 100%;
    height: 25%;
    display: block;
    float: none;
  }

  div#map-canvas {
    height: 65%;
    padding: 0px;
    width: 100%;
    display: block;
  }
}
/*
@media screen and (max-width: 450px) {
	#search-panel {
		height: 20% !important;
		width: 100% !important;
		display: block;
		z-index: 2;
	}
	#adv_search {
		height: 20% !important;
		width: 100% !important;
		z-index: 2;
	}
	#map-canvas {
		height: 80%;
  	padding: 0px;
  	display: block;
  	z-index: 1;
	}
	#results-window {
		height: 20% !important;
		display: block;
		width: 100% !important;
	}
	#push .navicon {
		display: none;
	}
	#pull .navicon {
		display: none;
	}
	h2 {
		display:none;
	}
}
*/
/*
	ADVANCED SEARCH PANEL
	----------------------------------
*/

#search-panel {
	width:225px;
	height: 100%;
	float: left;
	background-color: #3299BB;
	font-family: 'GeosansLight';
}

#adv_search {
	color: #FFFFFF;
	margin-left: 0;
	margin-right: 0;
	height: 90%;
}

#adv_search h2 {
	text-shadow: 1px 1px 1px #424242;
	margin-left: 8%;
	margin-top: 50px;
	margin-bottom: 0px;
	height: 40px;
	color: #FF9900;
}

#search-panel label {
	font-weight: bold;
	display: inline-block;
	margin-left: 2.5%;
	color: #FFFFFF;
}

#search-panel label.price {
	width: 60px;
}

#filter-accordion {
	margin-top: 5%;
	margin-left: 4.25%;
}

#party-list {
	margin-top: 2.5%;
}

#reset {
	font-weight: normal;
	font-size: 75%;
	text-decoration: underline;
}

/* Search panel CSS helper class */
.search-input {
	padding: 5%;
}

.search-input .price {
	font-weight: bolder;
	margin: 2%;
}

/* Expanding the search panel */
#search-panel.collapseSearch {
	width: 50px;
	min-width: 30px;
}

/* Handling the arrows for shrinking and expanding */
#pull {
	text-decoration: none;
	display: block;
}

#pull .navicon {
	color: #FF9900;
	font-size: 250%;
}

.navicon.left {
	margin-left: 10%;
	display: none;
}

.navicon.right {
	width: 100%;
	text-align: right;
	margin-right: 10%;
	float: right;
	display: block;
}

.collapseSearch .navicon.left {
	display: block;
}

.collapseSearch .navicon.right {
	display: none;
}

/*
	RESULTS PANEL
	------------------------
*/
#results-window {
	height: 100%;
	max-height: 100%;
	width: 55px;
	background-color: #FF9900;
	float: right;
	font-family: 'GeosansLight';
	overflow: auto;
}

#results-window.expandResults {
	width: 30%;
}

#results-view {
	display: none;
	margin: 10px;
}

.expandResults #results-view {
	display: block;
}

/* Arrows for expanding and shrinking panel */
#push {
	text-decoration: none;
	display: block;
	color: #3299BB;
}

#push .navicon {
	color: #3299BB;
	font-size: 250%;
}

.navicon.out {
	display: none;
	margin-left: 10%;
}

.navicon.in {
	display: block;
	margin-left: 10%;
}

.expandResults .navicon.in {
	display: none;
}

.expandResults .navicon.out {
	display: block;
}

/* ACCORDION */
/*
color: #eb8f00; replaced with #FF9900
blue text: #1c94c4; replaced with #3299BB
light grey: #f6f6f6; replaced with #E9E9E9
grey: #cccccc; replaced with #BCBCBC
black: #333333; -> replaced with #424242
*/

/*
	GENERAL HELPER CLASSES
*/
.horizontal-borders {
	/* border-top: 1px solid #424242; */
	border-bottom: 1px solid #424242;
	/*
	-> adds shadows to the boxes
	-moz-box-shadow:inset 0px 0px 10px #424242;
  	-webkit-box-shadow:inset 0px 0px 10px #424242;
  	box-shadow:inset 0px 0px 10px #424242;
  	*/
}

.block {
	display: block;
}


/*
	DORMANT CLASSES
*/

/* Currently not in use. For icon bars menu toggle */
.icon-bar{
  display: block;
  width: 84%;
  height: 8px;
  border-radius: 2px;
  margin-top: 6px;
  margin-left: 8%;
  background: #FF9900;
  margin-right: 20px;
  max-width: 45px;
}
